[Desktop Entry]
Name=DoubanFMUnofficial
Exec=/usr/bin/qmlscene $@ /usr/share/DoubanFMUnofficial/DoubanFMUnofficial.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
